# binary
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
./bin/*
*.pid
*.test
build-tool/msm-linux-amd64
build-tool/msm-linux-arm64

# config
.idea/
*/.idea/
.DS_Store
test/
config/msm.yaml

# output
*.out
log/
*/*.log
*.log

#other
archive/*
release/*
http-client.env.json
.vscode/
.test
